@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --cell-size: 4vh;
  --block-color: darkgrey;
  font-size: calc(var(--cell-size) / 2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.game-container {
  height: calc(20 * var(--cell-size));

  & > * {
    box-sizing: content-box;
    display: inline-block;
    height: 100%;
  }

  .game {
    width: calc(10 * var(--cell-size));
    vertical-align: top;
    text-align: center;
    background-color: black;
    position: relative;

    /* a smart BG pattern that lets see the blocks */
    --s: var(--cell-size);
    --c1: #000000;
    --c2: #2c2f31;
    
    background:
      conic-gradient(at calc(50%/3) calc(50%/3),#0000 75%,var(--c2) 0)
       calc(var(--s)/3) calc(var(--s)/3),
      conic-gradient(#0000 75%,var(--c1) 0) 
       calc(var(--s)/6) calc(var(--s)/6),
      conic-gradient(at calc(250%/3) calc(250%/3),var(--c1) 75%,var(--c2) 0);
    background-size: var(--s) var(--s);
  }
  .sidebar {
    width: calc(8 * var(--cell-size));
    vertical-align: top;

    /* FANCY CSS BG PATTERN PICKED ONLINE */
    --s: 200px; /* control the size */
    --c: #fff; /* first color */
    
    --_g: #0000 8%,var(--c) 0 17%,#0000 0 58%;
    background: 
      linear-gradient(135deg,#0000 20.5%,var(--c) 0 29.5%,#0000 0) 0 calc(var(--s)/4),
      linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
      linear-gradient(135deg,var(--_g),var(--c) 0 67%,#0000 0),        
      linear-gradient( 45deg,var(--_g),var(--c) 0 67%,#0000 0 83%,var(--c) 0 92%,#0000 0),
      #1095c1; /* second color */
    background-size: var(--s) var(--s);
    
    

    .side-box {
      background-color: black;
      color: white;
      text-align: center;
      padding: 0.5em;
      margin: 1em 2em;
      position: relative;
    }
  }

  .block {
    position: absolute;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: var(--block-color);
    border: 3px outset var(--block-color); /* embossed, may be inset shadow could work better? */
    border-radius: 1px;
  }

  [data-color=S]{ --block-color: pink }
  [data-color=L]{ --block-color: yellow }
  [data-color=F]{ --block-color: blue }
  [data-color=N]{ --block-color: darkred }
  [data-color=I]{ --block-color: green }
  [data-color=O]{ --block-color: blueviolet }
  [data-color=T]{ --block-color: darkorange }

  [data-color=x] {
    animation: 0.3s linear 0.1s blink;
  }
}

h2 {
  padding: 0.2rem;
  background-color: darkslategray;
  margin-bottom: 0.5rem;
}

@keyframes blink {
  from { opacity: 1}
  to { opacity: 0 }
}